# Series (시리즈)의 개념
<img src="img/1강/Series개념.jpg" alt="datetime" style="width: 1200px;"/>

# pandas 라이브러리 import 하기

In [1]:
# Python의 리스트(List) 타입의 데이터 생성하기
data = [3, 5, 1, 2]
data

[3, 5, 1, 2]

In [4]:
# Pandas의 Series 타입의 데이터 생성하기
pandas.Series([3,5,1,2])

NameError: name 'pandas' is not defined

In [5]:
# pandas 라이브러리 임포트하기 (1)
 import pandas

IndentationError: unexpected indent (<ipython-input-5-f3cf15a365c9>, line 2)

In [6]:
# pandas 라이브러리 임포트하기 (2)
import pandas as pd

In [7]:
# pandas 라이브러리 임포트하기 (3)
from pandas import Series

#  Series 생성
 - 1차원 데이터를 저장하는 파이썬의 데이터타입인 리스트, 튜플, 사전 타입 등을 이용해서 Series 객체를 생성해 보고, Series 객체의 특징들을 살펴보도록 하겠습니다.

### 1) List를 사용하여 Series 생성하기

In [8]:
data

[3, 5, 1, 2]

In [10]:
data1 = Series(data)
data

[3, 5, 1, 2]

In [11]:
data1.index = ['a', 'b', 'c', 'd']
data1

a    3
b    5
c    1
d    2
dtype: int64

### 2) Tuple을 사용하여 Series 생성하기

In [12]:
data = (3, 5, 1, 2)

In [13]:
type(data)

tuple

In [15]:
data2 = Series(data)
data2

0    3
1    5
2    1
3    2
dtype: int64

### 3) Dict 타입의 변수를 사용하여 Series 생성하기

In [16]:
arr3 = {'a':3, 'b':5, 'c':1, 'd':2}
arr3

{'a': 3, 'b': 5, 'c': 1, 'd': 2}

In [17]:
type(arr3)

dict

In [18]:
data3 = Series(arr3)
data3

a    3
b    5
c    1
d    2
dtype: int64

In [19]:
data3[2]

1

### ** 몇 가지 Series 특징들 **

- Series.values는 numpy의 ndarray객체입니다.

In [20]:
data3.values

array([3, 5, 1, 2], dtype=int64)

In [22]:
type(data3.values)

numpy.ndarray

- 값에는 모든 데이터 타입 사용이 가능합니다.

In [23]:
Series([3, 5, 'big', 'data', [1,2,3], (7,8,9)])

0            3
1            5
2          big
3         data
4    [1, 2, 3]
5    (7, 8, 9)
dtype: object

# Series의 속성(Attributes)와 함수(Method)들

#### 샘플 데이터 생성
 값과 Index 인자를 사용하여, Series 생성

In [24]:
sample = Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
sample # 왼쪽은 index, 오른쪽은 values

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

### 속성(Attribute) = Series가 가지고 있는 객체, 속성(특징) 혹은 간단한 기능을 제공

1) index - Series의 인덱스 (혹은 인덱스 라벨)

In [25]:
sample.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

2) values - Series의 데이터

In [26]:
sample.values

array([ 85,  90,  75,  55,  45,  90,  95,  85,  90, 100], dtype=int64)

3) size - Series의 크기 (데이터의 길이)

In [27]:
sample.size

10

4) dtype - Series의 데이터(Series.values)의 데이터 타입
* 정수형 숫자: int64
* 실수형 숫자: float64
* 문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우: 'O' (Object)

In [33]:
sample.dtype

dtype('int64')

In [34]:
Series([5.3, 1]).dtype

dtype('float64')

In [31]:
Series(['a', 'b', 'c']).dtype

dtype('O')

In [32]:
Series([5.3, 'a']).dtype

dtype('O')

### 함수(Methods) - Series가 제공하는 다양한 기능 활용
* 함수 호출 시 전달되는 자료들을 인자(argument, parameter)라고 합니다.
* 각 함수들은 정해진 인자들이 있으며, 인자값들을 토대로 함수가 실행됩니다. 
* 동일한 함수라고 하더라도 인자값을 어떻게 설정하느냐에 따라 동작방식은 달라질 수 있습니다.

1) describe() - 통계 정보를 한 눈에 제공해주는 함수

In [35]:
sample.describe()

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
25%       77.500000
50%       87.500000
75%       90.000000
max      100.000000
dtype: float64

2) 통계함수들 - max(), min(), mean(), ...

In [36]:
sample.max()

100

In [37]:
sample.mean()

81.0

In [39]:
sample.max()

100

3) add_prefix(prefix) - 인덱스 라벨 앞에 prefix 문자열을 추가

In [41]:
sample.add_prefix('big-') #하지만 원본 데이터에는 반영되지 않음. 반영하고 싶다면 sample = sample.add_prefex('big-')를 하면 됨.
# .add_prefix()는 필수 인자가 있으므로 인자를 아예 안집어넣으면 에러. default값이 없는 것.

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

In [42]:
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

4) value_counts() - Series에 있는 데이터 값들의 개수

In [43]:
sample.value_counts() # 각각 같은 value가 몇 번씩 있었는지 알려줌

90     3
85     2
100    1
55     1
75     1
45     1
95     1
dtype: int64

In [44]:
sample.value_counts(ascending = True) # 이외에도 여러 인자값이 있음. default값들을 바꾸면 됨.

100    1
55     1
75     1
45     1
95     1
85     2
90     3
dtype: int64

In [46]:
sample.value_counts(normalize = True)

90     0.3
85     0.2
100    0.1
55     0.1
75     0.1
45     0.1
95     0.1
dtype: float64

5) add(값) - Series의 데이터 각각에 값을 더하기

In [47]:
sample.add(50)

a    135
b    140
c    125
d    105
e     95
f    140
g    145
h    135
i    140
j    150
dtype: int64


<b>[Mini Quiz #1]</b> 앞에 5개의 데이터에는 5를 더하고, 나머지 5개의 데이터에는 10을 더하시오.

In [53]:
# b = Series([5, 5, 5, 5, 5, 10, 10, 10, 10, 10], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']) # 내 답
# sample.add(b)
sample.add([5,5,5,5,5,10,10,10,10,10]) # 교수님 답

a     90
b     95
c     80
d     60
e     50
f    100
g    105
h     95
i    100
j    110
dtype: int64

In [ ]:
# 새로운 학생 방법
a = Series([10, 10, 10, 10, 10], index = ['f','g','h','i','j'])
sample.add(a,fill_value=5).astype(int) # fill_value는 a가 가지고 있지 않은 인덱스 위치 값들에 5를 채워줌.
# .astype()은 float형이 int형으로 바뀜

6) append(series) - 인자로 받은 series를 기존 series 뒤에 이어붙여서 하나의 series로 만든다.

In [55]:
sample.append(Series(50, index=['k'])) # 값이 하나여도 index값을 []로 반환해주어야 에러가 발생하지 않음.

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     50
dtype: int64

7) isin(val_list) - Series에 있는 각각의 데이터들이 val_list에 포함되어 있는지 여부를 확인

In [56]:
sample.isin([70, 80, 90])# python에서의 in 느낌

a    False
b     True
c    False
d    False
e    False
f     True
g    False
h    False
i     True
j    False
dtype: bool

<b>[Mini Quiz #2]</b> sample 데이터 내에 80이 있는지 확인하여 있으면 True, 없으면 False를 출력

In [61]:
80 in sample.values

False

<b>[Mini Quiz #3]</b> sample의 인덱스 내에 'h'가 있는지 확인하여 있으면 True, 없으면 False를 출력

In [62]:
'h' in sample.index

True

8) apply(<i>func</i>) - Series의 값에 <i>func</i> 함수를 적용

In [64]:
# 값이 80 이상이면 Good, 그 미만이면 Bad로 표시
def get_grade(val):
    if val >= 80:
        return 'Good'
    else:
        return 'Bad'

In [65]:
sample.apply(get_grade)

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

In [67]:
#익명 함수(람다 함수) 활용
sample.apply(lambda val: 'Good' if val>= 80 else 'Bad') #한 번 실행하고 끝나는거라 이 lambda 함수가 계속 생겨있지 않음.

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

## Series 인덱싱 - 원하는 데이터만 선택하기

1) 특정 인덱스 선택하기
- 숫자 인덱스와 인덱스 라벨 모두 가능

In [68]:
# sample[4]
sample['e']

45

2) 여러 인덱스를 동시에 선택하기
- 선택하고자 하는 인덱스 목록을 리스트(List, [])로 전달

In [69]:
sample[['c','e','g']]

c    75
e    45
g    95
dtype: int64

In [70]:
sample['c':'g']

c    75
d    55
e    45
f    90
g    95
dtype: int64

3)인덱스 슬라이싱 - 주어진 범위에 해당하는 데이터 선택
<img src="img/1강/Series-슬라이싱.jpg" alt="datetime" style="width: 500px;"/>

- start idx와 end idx는 생략이 가능
- start idx를 생략 -> 맨 첫 데이터부터 선택
- end idx를 생략 -> 데이터 끝까지 선택

In [71]:
# 맨 앞에 있는 5개의 데이터 선택
sample[:5]

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [72]:
sample[-4:] # sample[6:]와 같음

g     95
h     85
i     90
j    100
dtype: int64

4) 조건 색인(불리언 색인) : 조건을 활용한 인덱스 선택
- 조건에 충족하는 데이터만 선택하는 방법
- 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인1.jpg" alt="datetime" style="width: 1200px;"/>

In [73]:
boolean_idx = [False, False, False, False, False, 
               True, True, True, True, True]

In [74]:
sample[boolean_idx]

f     90
g     95
h     85
i     90
j    100
dtype: int64

- boolean index를 조건을 통해 생성할 수 있다. 
<img src="img/1강/조건색인2.jpg" alt="datetime" style="width: 1200px;"/>

In [76]:
sample[sample >= 90]

b     90
f     90
g     95
i     90
j    100
dtype: int64

<b>[Mini Quiz #4]</b> sample 데이터의 평균값보다 큰 데이터만 선택

In [79]:
sample[sample > sample.mean()]

a     85
b     90
f     90
g     95
h     85
i     90
j    100
dtype: int64

<b>[Mini Quiz #5]</b> sample의 값이 50과 80 사이의 데이터만 선택

In [83]:
sample2 = sample[sample <= 80]
sample2 = sample[sample >= 50]
sample2 # 내 답

#교수님 답
sample[(50 <= sample) & (sample <= 80)]

a     85
b     90
c     75
d     55
f     90
g     95
h     85
i     90
j    100
dtype: int64

=============================================================
# 실습 문제

In [85]:
import random

In [86]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    87
B    15
C    34
D    47
E    17
F    79
G    93
H    26
I    13
J    20
K    90
L    21
M    65
N    19
O    53
P    35
Q    16
R    42
S    22
T    24
U    12
V    70
W     2
X    56
Y    63
Z    83
dtype: int64

In [87]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data['K']

90

In [89]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data[['A', 'F', 'C']]

A    87
F    79
C    34
dtype: int64

In [90]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data[5:16]

F    79
G    93
H    26
I    13
J    20
K    90
L    21
M    65
N    19
O    53
P    35
dtype: int64

In [91]:
# 4) 뒤에서 5개 항목 출력
data[-5:]

V    70
W     2
X    56
Y    63
Z    83
dtype: int64

In [93]:
# 5) data의 항목의 갯수를 출력
data.size

26

In [94]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
data[data > data.mean()]

A    87
D    47
F    79
G    93
K    90
M    65
O    53
V    70
X    56
Y    63
Z    83
dtype: int64

In [96]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력
50 in data.values

False

In [107]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX
#for val in data.items(): 내 방법
#    print("index:", val[0], ",", "values:", val[1])

for val,idx in data.items(): 
    print("index:", val, ",", "values:", idx)

index: A , values: 87
index: B , values: 15
index: C , values: 34
index: D , values: 47
index: E , values: 17
index: F , values: 79
index: G , values: 93
index: H , values: 26
index: I , values: 13
index: J , values: 20
index: K , values: 90
index: L , values: 21
index: M , values: 65
index: N , values: 19
index: O , values: 53
index: P , values: 35
index: Q , values: 16
index: R , values: 42
index: S , values: 22
index: T , values: 24
index: U , values: 12
index: V , values: 70
index: W , values: 2
index: X , values: 56
index: Y , values: 63
index: Z , values: 83